<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!--Sidebar-->
    <ul th:replace="~{fragments::sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragments::top-navbar}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div th:if="${success}" class="text-center alert alert-success">
                <p th:text="${success}">
                </p>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleAddCategoryModalLabel">Thống kê</h5>
            </div>
            <div class="table-main table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="name-cs">Họ tên</th>
                        <th class="order-date">Ngày đặt</th>
                        <th class="price-pr">Số tiền</th>
                        <th class="total-pr">Phương thức TT</th>
                        <th class="-address-book">Địa chỉ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}" th:if="${order.accept == true}">
                        <td class="name-cs">
                            <p th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></p>
                        </td>
                        <td class="order-date">
                            <p th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm:ss')}"></p>
                        </td>
                        <td class="total-pr">
                            <p th:text="${#numbers.formatDecimal(order.totalPrice,1,0)}"></p>
                        </td>
                        <td class="total-pr" style="color: black">
                            <p th:text="${order.paymentMethod}"></p>
                        </td>
                        <td class="-address-book">
                            <p class="address-cs" th:text="${order.customer.getAddress()}"></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="total-revenue">
                    <h3>Tổng doanh thu: <span th:text="${#numbers.formatDecimal(totalRevenue,1,0)} + ' VND'"></span></h3>
                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="~{fragments::footer}"></footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
    </div>
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{fragments::scroll}"></a>

<!--Add Categories Modal-->


<!--End-->

<!-- End -->
<!-- Bootstrap core JavaScript-->
<div th:replace="~{fragments::script}"></div>

<script th:src="@{/js/categories.js}"></script>
</body>

</html>