<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments ::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{fragments::all-title-box}">
</div>
<!-- End All Title Box -->

<!-- Update Personal Information -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="display: inline-table" >
                <div th:if="${success}" class="text-center alert-success alert">
                    <p th:text="${success}"></p>
                </div>
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="order-date">Ngày đặt</th>
                            <th>Ngày giao</th>
                            <th class="price-pr">Trạng thái đơn hàng</th>

                            <th class="quantity-box">Số lượng</th>
                            <th>Tổng tiền</th>
                            <th class="total-pr">Phương thức thanh toán</th>
                            <th class="address-cs">Địa chỉ</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td class="order-date">
                                <p th:text="${#dates.format(order.orderDate,'dd/MM/yyyy HH:mm:ss')}"></p>
                            </td>
                            <td class="order-delivery">
                                <p th:if="${order.accept != null}"
                                   th:text="${#dates.format(order.deliveryDate,'dd/MM/yyyy HH:mm:ss')}" href="#">
                                </p>
                            </td>
                            <td class="price-pr">
                                <p th:if="${order.accept==null}" th:text="${order.orderStatus}"></p>
                                <p th:if="${order.accept!=null}" th:text="${order.orderStatus}"></p>
                            </td>
                            <td class="quantity-box" th:text="${order.quantity}"></td>
                            <td class="total-pr">
                                <p th:text="${#numbers.formatDecimal(order.totalPrice ,1,0)}"></p>
                            </td>
                            <td class="total-pr">
                                <p th:text="${order.paymentMethod}"></p>
                            </td>
                            <td class="address-cs">
                                <p th:text="${order.customer.getAddress()}"></p>
                            </td>
                            <td th:if="${order.accept} == false" >
                                <a th:href="@{/cancel-order(id = ${order.id})}" class="button-cancel"
                                   onclick="if (!(confirm('Bạn muốn hủy đơn hàng?'))) return false">Hủy</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments::footer}"></footer>

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>